    ErrorDocument 404 /alaska/error.php

  Options +FollowSymlinks
  RewriteEngine on
  RewriteRule ^/alaska/chapitre-([0-9]+).html$   /alaska/index.php?action=post&id=$1 [L]
  RewriteRule ^/accueil$  index.php [L]
