/* */

input.liker, input.flagger, input.bannisher{
  padding: 7px 15px 10px!important;
}


nav {
  position: fixed; 
}

.postHeader{
  background-size: cover
}

footer{
  position: fixed; bottom:0; width:100%; padding-top:7px!important; 
}
footer .footer-copyright {min-height:0!important}

section#contenu{
  margin:100px 0
}

#adminView section#contenu
{
  margin:0; 
}

#adminLeft, #adminright{
  background-color: #fff
}
#adminView p{
  color:#000
}

.cache{
  display: none
}

.missingFields{
  background-color: coral; 
  padding: 10px; border-radius:5px; border: 1px solid white; margin-top: 20px
}

.modal {
    max-height: 85%;
    width: 85%;
}

#suppress{
  position:fixed; width:100vw; height:100vh; top:0; left:0; display: flex; align-content: center; align-items: center; justify-content: center; 
  background-color: rgba(0,0,0,0.5);
}
#suppress.modal{
  display: none
}

#suppress .modal-content{
  background-color: #fff; padding: 20px
  
}

@media screen and (max-width:767px;)
{
  footer
  {
    position: relative; width:100%
  }

}