  .slide-footer{
    display: flex;
    width:70vw;
    justify-content: space-between;
    margin:20px 0  0;
  }



@media only screen and (max-width:767.98px){
/*
  section#contenu
  {
    height: 100%
  } */
  .slide{
    height:55vh
  }
  .slide-legende{
    height:50%;
    padding: 0 10px
  }
  .slide-legende h2{
    margin: 10px 0;
    font-size: 1rem;
  }
  .slide-extrait
  {
    font-size: 0.8rem; line-height: 1rem
  }

  .slide-legende .btn
  {
    font-size: 0.8rem;
    
  }


}
