.bleufonce {
  background-color: #0D7E9F;
}
.bleuclair {
  background-color: #2BC0EB;
}
.myorange {
  background-color: #D24926;
}
.noir {
  background-color: #03191F;
}
.bleu-fonce-text {
  color: #0D7E9F;
}
.bleu-clair-text {
  color: #2BC0EB;
}
.myorange-text {
  color: #D24926;
}
.noir-text {
  color: #03191F;
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background-color: white;
}
h2 a {
  color: ;
}
h3 {
  font-size: 2rem;
}
p {
  text-align: justify;
}
ul li {
  list-style: none;
  display: inline-block;
}
label {
  color: #fff;
}
input {
  background-color: #ffffff !important;
  border-radius: 5px !important;
  padding: 0 10px !important;
  box-sizing: border-box !important;
}
label {
  color: #fff;
}
input {
  background-color: #ffffff !important;
  border-radius: 5px !important;
  padding: 0 10px !important;
  box-sizing: border-box !important;
}
nav {
  height: inherit;
}
.nav-wrapper {
  justify-content: space-around;
}
#logo-container {
  margin: 0 3vw;
}
#logo-container img {
  margin-top: 10px;
}
#titre {
  display: inline-block;
}
#titre h1 {
  font-size: 30px;
  margin: 0;
  color: #0D7E9F;
}
#slider {
  width: 100%;
  margin: auto;
}
.slide {
  height: 65vh;
  width: 100%;
  background-size: cover;
}
.slide-legende {
  background-color: rgba(0,0,0,0.2);
  height: 40%;
  position: absolute;
  bottom: 0;
  width: 79vw;
  padding: 10px 8.33vw;
}
.slide-footer {
  margin: 20px 0 0;
}
div.slide-cta {
  width: 150px;
  padding: 5px 10px;
}
p.slide-extrait {
  width: 70vw;
  margin: auto;
  font-family: 'Cormorant', serif;
}
#slider-controls {
  width: 80vw;
  margin: 20px auto;
  position: relative;
  text-align: center;
}
#slider-arrows {
  display: flex;
  justify-content: space-between;
}
#slider-dots {
  width: 74vw;
  margin: 0 3vw;
  justify-content: space-between;
  position: absolute;
  top: 0;
}
.slick-dots {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  border: none;
}
.slick-dots li {
  background-color: transparent;
  border: none;
  width: 20px;
  background-image: url('../../img/dot-bleu.png');
}
.slick-dots button {
  background-color: transparent;
  border: none;
  color: transparent;
}
.slick-arrow {
  background-color: transparent;
  border: none;
}
@media only screen and (max-width: 767.98px) {
  .slide {
    height: 55vh;
  }
  .slide-legende {
    height: 50%;
    padding: 0 10px;
  }
  .slide-legende h2 {
    margin: 10px 0;
    font-size: 1rem;
  }
  .slide-extrait {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .slide-legende .btn {
    font-size: 0.8rem;
  }
}
#nav-chapitres {
  padding-top: 40px;
}
.infos {
  padding: 0 0 40px;
}
.news p {
  background-color: #fff;
  margin-top: 0px;
  font-size: 18px;
}
.news {
  margin: auto;
}
.commentaires {
  padding: 0px;
  margin: 60px 0;
  border-top: 1px solid #ccc;
}
.commentaires form {
  margin-bottom: 40px;
}
form,
.unMessage,
input,
textarea,
.aComment {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
}
label {
  color: #fff;
}
input {
  background-color: #ffffff !important;
  border-radius: 5px !important;
  padding: 0 10px !important;
  box-sizing: border-box !important;
}
form {
  background-color: #0D7E9F;
}
input,
textarea,
.aComment {
  padding: 10px;
  margin: 5px 0 10px;
}
textarea {
  width: 100%;
}
.unMessage {
  margin-bottom: 15px;
  padding: 10px 20px;
  width: 100%;
}
.leMessage {
  border-bottom: 1px solid #ccc;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.lePseudo {
  font-size: 0.8rem;
  font-weight: bold;
}
.laDate {
  float: right;
  font-size: 0.8rem;
  font-style: italic;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
