.bleufonce {
  background-color: #0D7E9F;
}
.bleuclair {
  background-color: #2BC0EB;
}
.myorange {
  background-color: #D24926;
}
.noir {
  background-color: #03191F;
}
.bleu-fonce-text {
  color: #0D7E9F;
}
.bleu-clair-text {
  color: #2BC0EB;
}
.myorange-text {
  color: #D24926;
}
.noir-text {
  color: #03191F;
}
p {
  text-align: justify;
}
nav {
  height: inherit;
}
.nav-wrapper {
  justify-content: space-around;
}
#logo-container {
  margin: 0 3vw;
}
#logo-container img {
  margin-top: 10px;
}
#titre {
  display: inline-block;
}
#titre h1 {
  font-size: 30px;
  margin: 0;
  color: #0D7E9F;
}
#slider {
  width: 80vw;
  margin: auto;
}
.slide {
  height: 80vh;
  width: 100%;
  background-size: cover;
}
.slide-legende {
  background-color: rgba(0,0,0,0.2);
  height: 40%;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 3vw;
}
div.slide-cta {
  width: 150px;
  padding: 5px 10px;
}
p.slide-extrait {
  width: 70vw;
  font-family: 'Cormorant', serif;
}
#slider-controls {
  width: 80vw;
  margin: 20px auto;
  position: relative;
  text-align: center;
}
#slider-arrows {
  display: flex;
  justify-content: space-between;
}
#slider-dots {
  width: 74vw;
  margin: 0 3vw;
  justify-content: space-between;
  position: absolute;
  top: 0;
}
.slick-dots {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  border: none;
}
.slick-dots li {
  background-color: transparent;
  border: none;
  width: 20px;
  background-image: url('../../img/dot-bleu.png');
}
.slick-dots button {
  background-color: transparent;
  border: none;
  color: transparent;
}
.slick-arrow {
  background-color: transparent;
  border: none;
}
body {
  background-color: #03191F;
}
.news p {
  background-color: #fff;
  margin-top: 0px;
  font-size: 18px;
}
.news {
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
ul li {
  list-style: none;
  display: inline-block;
}
form,
.unMessage,
input,
textarea,
h3,
.news,
.news p,
.aComment {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
}
form {
  background-color: #eee;
}
input,
textarea,
.aComment {
  padding: 10px;
  margin: 5px 0 10px;
}
textarea {
  width: 100%;
}
.unMessage {
  margin-bottom: 15px;
  padding: 10px 20px;
  width: 100%;
}
.leMessage {
  border-bottom: 1px solid #ccc;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.lePseudo {
  font-size: 0.8rem;
  font-weight: bold;
}
.laDate {
  float: right;
  font-size: 0.8rem;
  font-style: italic;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
